/* style.css : 공용 스타일 파일 */
/* reset */
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
* {
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif' !important;
}
body{
    color: #fff;
}
.flex{
    display: flex;
}
.flex-align-center{
    align-items: center;
}
.visivility_hide{
    visibility: hidden;
}
a, a:hover{
    color: inherit;
    text-decoration: unset;
}

/* header */
header.header_sticky{
    background: rgba(0,0,0,1);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 0 8px rgb(255 255 255 / 5%);
    /* border-bottom: 1px solid #e5e7eb; */
}

header nav{
    padding: 0 16px;
}

header nav .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .navbar_logo img{
    height: 24px;

}
header nav ul.navbar_menu{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 60px;
}
header nav ul.navbar_menu button{
    background: transparent;
    border:0;
}
header nav ul.navbar_menu > li > a, header nav ul.navbar_menu > li > button, header nav ul.navbar_menu > li .dropdown>button{
    display: block;
    line-height: 20px;
    padding: 0px 20px;
}
header nav ul.navbar_menu > li > button.btn:hover, header nav ul.navbar_menu > li .dropdown>button:hover, header nav ul.navbar_menu > li .dropdown>button:active, header nav ul.navbar_menu > li .dropdown>button:focus-visible, .btn:first-child:active{
    background: transparent;
    border-color: transparent;
}
header nav ul.navbar_menu > li .dropdown-toggle::after{
    display: none;
}
header nav .my_profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
header nav .my_profile img{
    width: 100%;
    height: 100%;
    display: table;
    border-radius: 50%;
}

/* wrap */
.wrap{
    position: relative;;
    /* background: rgb(250, 250, 250); */
    background: #121212;
    padding: 16px 0;
    min-height: calc(100vh - 112px);
    padding-top: 60px;
    min-height: 100vh;
}


/* sidenav */
.sidenav{
    width: 250px;
    min-height: 250px;
    position: absolute;
    right:0;
    top: 32px;
}
.main{
    padding: 32px 16px;
    margin-right: 250px;

}
/* section */
.sec{
    margin-bottom: 50px;
}
.sec .section_header{
    margin-bottom: 32px;
    text-align: center;
}
.sec .section_title{
    font-size: 1.5em;
    font-weight: 700;
    display: inline-block;
}
.highlight{
    position: relative;
    transition: 0.2s;
    cursor: pointer;
}
.highlight:before{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0px;
    height: 16px;
    width: 0;
    background-color: rgba(30,215,96,0.25);
    transition: 0.4s;
}
.highlight:hover:before{
    width: calc(100% + 4px);
    transition: 0.2s;
}

/* music_card */
.music_card{
    cursor: pointer;
    background: #181818;
    /* border: solid 1px rgb(219, 219, 219); */
    border-radius : 8px;
    margin-bottom: 16px;
    line-height: 1.26;
    overflow: hidden;
    padding: 16px;
    transition: 0.4s;

}
.music_card:hover{
    /* box-shadow: 2px 5px 10px rgba(0,0,0,0.1); */
    transition: 0.4s;
    background-color: #282828;
}
.music_card .card_header{
    margin-bottom: 16px;
    border-radius: 8px;
    overflow: hidden;
}
.music_card .music_album_images{
    vertical-align: unset;
}
.music_card .music_album_images >img{
    width: 100%;
    height: auto;
}
.music_card .card_content{
    width: 100%;
}
.music_card .card_content p{
    margin-bottom: 8px;
}
.music_card .card_content p.music_card_title{
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    /* word-break: keep-all; */
}
.music_card .card_content .music_card_title{
    font-weight: 600;
    font-size : 1em;
}
.music_card .card_content .music_card_artist{
    color: #a7a7a7;
    font-size: 0.8em;
}
.music_card .card_content .music_card_grade{
    color: #1ED760
}



/* profile_list_card  */
.profile_image{
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    max-width: 64px;
    max-height: 64px;
}
.profile_image>img{
    width: 100%;
    object-fit: cover;
}
.profile_list_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    transition: 0.2s;
    cursor: pointer;
}
.opcity7{
    opacity: 0.7;
}
.profile_list_card.opcity7:hover{
    opacity: 1;
    transition: 0.2s;
}
.profile_list_card .card_body{
    width: 100%;
    display: flex;
    align-items: center;
}
.profile_list_card .profile_image{
    max-width: 30px;
    max-height: 30px;
}
.profile_list_card .profile_meta{
    width: 100%;
    padding-left: 12px ;
    line-height: 1.36;
    font-size: 0.9em;
}
.profile_list_card .btn_follow{
    color: #1ED760;
}
.profile_list_card .btn_follow_2{
    color: #000;
    background: #1ED760;
    border : solid 1px #1ED760;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 0.8em;
    text-align: center;
    min-width: 75px;
    display: inline-block;
}
.profile_list_card .btn_follow_2.btn_following{
    color: #fff;
    background: #a7a7a7;
    border : solid 1px #a7a7a7;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 0.8em;
}
.profile_list_card .btn_follow_remove{
    color: #fff;
    border : solid 1px #fff;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 0.8em;
    text-align: center;
    min-width: 75px;
    display: inline-block;
}



/* 별점 */
.starpoint_wrap{display:inline-block;margin-left: 4px;}
.starpoint_box{position:relative;background:url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0 0 no-repeat; background-size: auto 34px; font-size:0;}
.starpoint_box .starpoint_bg{display:block;position:absolute;top:0;left:0;height:16px;background:url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0 -18px no-repeat; background-size: auto 34px; pointer-events:none;}
.starpoint_box .label_star{display:inline-block;width:8.85px;height:16px;box-sizing:border-box;}
.starpoint_box .star_radio{opacity:0;width:0;height:0;position:absolute;}
.star_10 .starpoint_bg, .starpoint_box .star_radio:nth-of-type(1):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(1):checked ~ .starpoint_bg{width:10%;}
.star_20 .starpoint_bg,.starpoint_box .star_radio:nth-of-type(2):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(2):checked ~ .starpoint_bg{width:20%;}
.star_30 .starpoint_bg,.starpoint_box .star_radio:nth-of-type(3):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(3):checked ~ .starpoint_bg{width:30%;}
.star_40 .starpoint_bg,.starpoint_box .star_radio:nth-of-type(4):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(4):checked ~ .starpoint_bg{width:40%;}
.star_50 .starpoint_bg,.starpoint_box .star_radio:nth-of-type(5):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(5):checked ~ .starpoint_bg{width:50%;}
.star_60 .starpoint_bg,.starpoint_box .star_radio:nth-of-type(6):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(6):checked ~ .starpoint_bg{width:60%;}
.star_70 .starpoint_bg,.starpoint_box .star_radio:nth-of-type(7):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(7):checked ~ .starpoint_bg{width:70%;}
.star_80 .starpoint_bg,.starpoint_box .star_radio:nth-of-type(8):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(8):checked ~ .starpoint_bg{width:80%;}
.star_90 .starpoint_bg,.starpoint_box .star_radio:nth-of-type(9):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(9):checked ~ .starpoint_bg{width:90%;}
.star_100 .starpoint_bg,.starpoint_box .star_radio:nth-of-type(10):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(10):checked ~ .starpoint_bg{width:100%;}
.blind{position:absolute;clip:rect(0 0 0 0);margin:-1px;width:1px;height: 1px;overflow:hidden;}


/* modal */
.modal .modal-content{
    background: #282828;
}
.modal .btn_close{
    background: transparent;
    color: #fff;
    border: 0;
}